@import "tailwindcss";

@font-face {
    font-family: "Goldman";
    src: url("./lib/assets/fonts/Goldman-Regular.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Goldman";
    src: url("./lib/assets/fonts/Goldman-Bold.ttf") format("truetype");
    font-weight: 700;
    font-style: normal;
}

@theme {
    --color-dark-blue: #25343f;
    --color-orange: #ff9b51;
    --color-light-blue: #bfc9d1;
    --color-beige: #eaefef;
    --color-gray: #d9d9d9;
    --color-light-background: #ffffff;
    --color-light-green: #72e29d;
    --color-green-on-light-green: #0e6633;

    --font-sans: "Goldman", sans-serif;

    --shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);

}

@utility shadow-top-light {
    box-shadow: 0px -2px 4px 0px rgba(0, 0, 0, 0.25);
}

@utility shadow-light {
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.25);
}

@utility shadow-inset {
    box-shadow: inset 0px 4px 4px 0px rgba(0, 0, 0, 25%);
}

@layer base {
    * {
        /* @apply border-red-600 border; */
    }

    body {
        @apply font-sans;
    }
}

:root {
    --dark-blue: #25343f;
    --orange: #ff9b51;
    --light-blue: #bfc9d1;
    --beige: #eaefef;
    --dark-beige: #d9d9d9;
    --light-background: #ffffff;
}